 p {
     font-family: "Trebuchet MS";
     font-size: lem;
     letter-spacing: 3px;
     color: gray;
 }
 
 a:hover {
     color: black;
     text-decoration: none;
 }
 
 a:visited {
     color: chocolate;
 }
 
 body {
     max-width: 90%;
     margin: auto;
     background: linear-gradient(blue, red);
     background: url("japan.jpg") no-repeat bottom right;
     background-size: cover;
 }
 
 blockquote {
     width: 50%;
     margin: auto;
     font-size: 1.6em;
     border-left: 3px solid firebrick;
     padding: 80px 30px 80px 30px;
     background-color: lightgrey;
     font-style: italic;
 }
 
 .villagers {
     border-left: 3px solid firebrick;
 }
 
 .farmer {
     border-left: 3px solid blue;
 }