body {
    background-color: white;
    font-family: 'Arial', 'sans-serif';
    font-weight: lighter;
    line-height: 150%;
}

header {
    background-color: #333333;
    width: 1500px;
}

footer {
    background-color: #333333;
}

a {
    color: white;
    text-decoration: none;
}

#banner {
    background-color: #1e93cc;
}

.man {
    float: left;
}

.logo {
    float: center;
}


/*
div.footer {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.footer a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
*/


/*-----*/

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    float: left;
    /*pour IE*/
    border-left: 1px solid #333333;
}

ul li a {
    display: block;
    float: left;
    width: 100px;
    line-height: 44px;
    /*hauteur de l'image de fond*/
    background: #333333;
    color: #DCDCDC;
    text-decoration: none;
    text-align: center;
}

ul li a:hover {
    background: #333333;
    color: white;
}